/.metadata/
/.recommenders/


/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### src
src/Servers
src/.metadata
src/.recommenders
src/MHMM/target

### MHMM
*/mvnw*
*/.mvn
*/target
Servers

### setting include file
*/src/test/java/xyz/mhmm/setting/MariaDbConnectionTest.java
*/src/main/webapp/WEB-INF/spring/root-context.xml
*/.*

### 설정파일
*/src/main/resources/application.properties


