/.metadata/
/.recommenders/


/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### src
src/Servers
src/.metadata
src/.recommenders
src/MHMM/target

### MHMM
MHMM/mvnw*
MHMM/.mvn
MHMM/target
Servers

### setting include file
MHMM/src/test/java/xyz/mhmm/setting/MariaDbConnectionTest.java
MHMM/src/main/webapp/WEB-INF/spring/root-context.xml
MHMM/.*
