<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="nav">
	<nav>
		<div class="nav-wrap">
			<h1 id="brand">
				<a href="/">MHMM</a>
			</h1>
			<ul>
				<li><a href="/messenger">Messenger</a></li>
				<li th:unless="${authCheck == false}"><a href="/mypage">MyPage</a></li>
				<li th:if="${authCheck == false}"><a href="/auth/login">Login</a></li>
				<li th:unless="${authCheck == false}"><a href="/api/auth/logout">Logout</a></li>
			</ul>
			<footer>
				<span>Copyright 2019 MHMM</span>
			</footer>
		</div>
		<a class="sideBtn">Open </a>
	</nav>
</div>
</html>
