<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.mhmm.chatRoom.dao.OneToOneDAO">

	<insert id="create" parameterType="map" useGeneratedKeys="true"
		keyProperty="no">
		insert into tbl_onetoone
		(from_userno, to_userno)
		values (
		#{from_userno}, #{to_userno} )
	</insert>

	<select id="select" resultType="OneToOneVO">
		SELECT * FROM tbl_onetoone
		where
		from_userno = #{from_userno} and to_userno = #{to_userno}
	</select>

	<select id="selectAll" resultType="OneToOneVO">
		SELECT * FROM tbl_onetoone
		where from_userno = #{userNo} or to_userno = #{userNo}
	</select>


</mapper>
