<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.mhmm.auth.dao.UserDAO">

	<select id="findByEmail" resultType="UserVO">
		select * from
		tbl_user where
		email = #{email}
	</select>

	<select id="findByPk" resultType="UserVO">
		select * from
		tbl_user where no
		= #{no}
	</select>

	<select id="findById" resultType="UserVO">
		select * from
		tbl_user where id
		= #{id}
	</select>

	<insert id="create" useGeneratedKeys="true" keyProperty="no"
		parameterType="xyz.mhmm.auth.AuthDTO$Create">
		insert into tbl_user (name,email,id) values ( #{name},
		#{email}, #{id})
	</insert>

	<update id="updateToName">
		update tbl_user set name= #{name} where no = #{no}
	</update>

	<update id="updateToEmail">
		update tbl_user set email= #{email} where no = #{no}
	</update>

	<update id="updateToPhoto">
		update tbl_user set photo_path = #{path} where no = #{no}
	</update>

	<delete id="delete">
		delete from tbl_user where no = #{no}
	</delete>

</mapper>
