<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>MHMM</title>

<link rel="stylesheet" th:href="@{~/css/common/reset.css}" />
<link rel="stylesheet" th:href="@{~/css/common/nav.css}" />
<link rel="stylesheet" th:href="@{~/css/messenger/index.css}" />
</head>
<body>
	<div th:insert="~{fragments/nav::nav}"></div>


	<div class="content-wrap">
		<!-- content-container -->
		<div class="content-container">
			<!-- friend-wrap -->
			<section class="friend-wrap">
				<div class="friend-add">
					<label for="friend-add">친구 검색</label> <input type="text"
						name="friend-add" id="friend-search" maxlength="20" /> <input
						type="button" id="friend-search-btn" value="검색" />

					<div class="friend-search-result" id="friend-search-result"></div>
				</div>

				<div class="friend-list" id="friend-list"></div>
			</section>
			<!-- //friend-wrap -->

			<!-- messange-room -->
			<section class="messange">
				<div class="messenger-room">메신저방 1</div>
				<div class="messenger-room">메신저방 2</div>
				<div class="messenger-room">메신저방 3</div>
				<div class="messenger-room">메신저방 4</div>
				<div class="messenger-room">메신저방 5</div>
			</section>

			<section class="messenger-select">여기 채팅방</section>
		</div>
		<!-- //content-container -->
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script th:src=@{~/js/common/nav.js}></script>
	<script th:src=@{~/js/utils/ajaxUtil.js}></script>
	<script th:src=@{~/js/messenger/friend.js}></script>
	<script>
		
	</script>

</body>
</html>