@charset "UTF-8";

.signup-wrap {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.signup-wrap section.signup {
  width: 500px;
  height: 600px;
  overflow: auto;
  margin: 100px auto 0;
  box-shadow: 1px 1px 2px 2px rgba(10, 10, 10, 0.3);
}

.signup-wrap section.signup h3 {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.signup-wrap section.signup input {
  display: block;
  padding: 10px;
  width: 300px;
  font-size: 1rem;
  margin: 20px auto;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  outline: none;
}

.signup-wrap section.signup input:hover[type='input'] {
  border-bottom: 3px solid #f06595;
}

.signup-wrap section.signup input:hover[type='password'] {
  border-bottom: 3px solid #f06595;
}

.signup-wrap section.signup input[type='submit'],
input[type='button'] {
  background: #7950f2;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
