@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
}

#wrap {
}

.container {
  width: 500px;
  margin: 30px auto 0;
  overflow: hidden;
}

.container .chat-view-area {
  height: 70vh;
  border: 2px solid pink;
  overflow-y: scroll;
}

.container .chat-input-area {
  border: 2px solid #cccccc;
}

.chat-input-area .input-name {
  height: 30px;
  padding: 0 10px;
  margin-top: 5px;
  border-bottom: 1px solid #cccccc;
}
.chat-input-area .input-content {
  display: flex;
}

.chat-input-area .input-button {
  flex: 0 0 100%;
  box-sizing: border-box;
  border: 1px solid darkblue;
}

.input-name span {
  font-weight: bold;
  font-size: 1rem;
}
.input-name input {
  width: 200px;
}

.input-content #chat-content {
  flex: 1 1;
  border: none;
  resize: none;
}

.input-content #chat-send {
  flex: 0 0 20px;
  height: 100px;
}

li {
  list-style: none;
  font-size: 1rem;
  min-height: 1rem;
}

li.myMessage {
  text-align: right;
  margin: 10px 5px 0 0;
}

li.theOtherMessage {
  text-align: left;
  margin: 10px 0 0 5px;
}

li span.message {
  display: inline-block;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  border: 1px solid #c8c8c8;
  border-radius: 0.4rem;
  font-weight: bold;
  background: #cccccc;
}

li.theOtherMessage .writer {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
}

li.theOtherMessage .message {
  margin-left: 0.7rem;
}
