<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>MHMM</title>

<link rel="stylesheet" th:href="@{~/css/common/reset.css}" />
<link rel="stylesheet" th:href="@{~/css/common/nav.css}" />
<link rel="stylesheet" th:href="@{~/css/auth/login.css}" />
</head>
<body>
	<div th:insert="~{fragments/nav::nav}"></div>

     <div class="login-wrap">
      <section class="login">
        <h3>로그인 정보</h3>
        <form action="/auth/login" method="POST">
          <label for="userId" class="ir_su">아이디</label>
          <input
            type="input"
            id="userId"
            name="userId"
            class="input_text"
            placeholder="아이디를 입력해주세요"
            autocomplete="off"
            maxlength="20"
          />
          <label for="userPw" class="ir_su">비밀번호</label>
          <input
            type="password"
            id="userPw"
            name="userPw"
            class="input_text"
            placeholder="비밀번호를 입력해주세요"
            autocomplete="off"
            maxlength="20"
          />
          <input type="submit" value="로그인" />
          <input type="button" value="회원가입" onClick="location.href='/auth/signup'"/>
          <input type="button" value="홈으로" onClick="location.href='/'" />
        </form>
      </section>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script th:src=@{~/js/common/nav.js}></script>
	<script th:src=@{~/js/auth/login.js}></script>
	<script>
		
	</script>
    
</body>
</html>